#!/usr/bin/env perl

use strict ;
use warnings ;

my $dir_evermd="<<DIR_EVERMD>>" ;
my $option = "" ;
for my $o(@ARGV){
	#print $o, "\n" ;
	$option .= qq('$o' ) ;
}

exec qq($dir_evermd/evermd.pl $option) ;

